.card-container {
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
  height: fit-content;
}
.card-img {
  width: 100%;
}
.card-title {
  font-weight: 500;
  margin: 0.5rem 5%;
}
.card-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.checkmark {
  height: 1.5rem;
}
.card-description {
  margin: 0.5rem 5%;
}
