/* #email-button{
    margin-left: 1rem;
    z-index: 500;
  }

  @media (max-width: 890px) {

  #email-button{
    margin-left: 1rem;
    margin: 1rem 0 0 0;
  }

}

@media (max-width: 620px) {
  #email-button{
    margin: 1rem 0;
    width: 100%;
  }
} */
