.standards-section-container{
    background-color: #faf7f4;
    display: grid; 
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 30% 60%;
  }
  
  #standards-text-header{
    grid-column: 1/3;
    grid-row: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .standards-image-section{
    grid-column: 1/2;
    grid-row: 2;
    margin: 2rem;
    background-color: #185951;
    overflow: hidden;
    display: flex; 
    justify-content: center;
    align-items: center;
  }
  .standards-list{
    grid-column: 2/3;
    grid-row: 2;
    display: flex; 
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
  }
  
  #standards-product-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0 50%;
  }
  #standards-text-header h1 {
    font-weight: 500;
  }
  #standards-text-header h1, #standards-text-header p {
    text-align: center;
  }
  @media (max-width: 890px) {

  .standards-section-container{
    margin: 2rem 0;
  }
  #standards-text-header{
    padding: 2rem;
  }

  .standards-list{
    display: block;
    padding-top: 2rem;
    font-size: .8rem;

  }
#standards-product-image{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
}
  }

  @media (max-width: 425px) {
    #standards-text-header h1 {
      font-size: 2rem;
      margin-top: 1rem;
    }
    #standards-text-header p {
      font-size: .8rem;
    }
    .standards-image-section{
      width: 100%;
      height: 50%;
      margin: 0;
    }
    .standards-section-container{
      display: flex; 
      flex-direction: column;
      align-items: center;
    }
    .standards-list{
      margin:1rem;
      padding: 0;
    } 
  }